{% extends 'layout.html.twig' %}

{% block title %}Visibility index{% endblock %}

{% block body %}
    <h1>Visibility index</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Code</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visibility in visibilities %}
            <tr>
                <td>{{ visibility.id }}</td>
                <td>{{ visibility.label }}</td>
                <td>{{ visibility.code }}</td>
                <td>{{ visibility.description }}</td>
                <td>
                    <a href="{{ path('middle_visibility_show', {'id': visibility.id}) }}">show</a>
                    <a href="{{ path('middle_visibility_edit', {'id': visibility.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('middle_visibility_new') }}">Create new</a>
{% endblock %}