{% extends 'layout.html.twig' %}

{% block title %}Role index{% endblock %}

{% block content %}
    <h1>Role index</h1>

    <div class="dataTable">
        <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Code</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.label }}</td>
                <td>{{ role.code }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <a href="{{ path('security_role_show', {'id': role.id}) }}">show</a>
                    <a href="{{ path('security_role_edit', {'id': role.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('security_role_new') }}">Create new</a>
{% endblock %}