{% extends 'layout.html.twig' %}

{% block title %}Design index{% endblock %}

{% block body %}
    <h1>Design index</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for design in designs %}
            <tr>
                <td>{{ design.id }}</td>
                <td>{{ design.label }}</td>
                <td>{{ design.description }}</td>
                <td>
                    <a href="{{ path('middle_design_show', {'id': design.id}) }}">show</a>
                    <a href="{{ path('middle_design_edit', {'id': design.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('middle_design_new') }}">Create new</a>
{% endblock %}